.vscode/
temp/
assignment/my_submission/menu
assignment/my_submission/processes
assignment/my_submission/threads
assignment/my_submission/SJF_scheduling
assignment/my_submission/SJF.zip
assignment/my_submission/banker-algo
assignment/my_submission/TBL-algo
assignment/my_submission/virtual-memory
assignment/simple_version/
